<div class="container">
    <div>
        <h2>Ajouter un Lunette :</h2>
    </div>
    <form>
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Lunette</label>
            <input type="text" [(ngModel)]="newLunette.idLunette" name="idLunette" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Lunette</label>
            <input type="text" [(ngModel)]="newLunette.nomLunette" name="nomLunette" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix Lunette</label>
            <input type="number" [(ngModel)]="newLunette.prixLunette" name="prixLunette" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>
            <input type="date" [(ngModel)]="newLunette.dateCreation" name="dateCreation" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Style</label>
            <select class="form-control form-control-lg" id="idSty" name="idSty" [(ngModel)]="newIdSty">
                <option *ngFor="let sty of styles" [value]="sty.idSty">
                    {{sty.nomSty}}
                </option>
            </select>
        </div> 
        <div class="mt-2">
            <button type="submit" (click)="addLunette()" class="btn btn-success">Ajouter</button>
        </div>
    </form>
</div>
